{{ define "main" }}

    <h1>Breno Martinusso</h1>
    <p>
		I'm a brazilian entrepreneur and software engineer. Since 2001, I've been learning and using a lot of technologies and languages to build software.
    </p>
    <p>
        I enjoy coding, reading, trekking, and thinking about the life, the universe, and everything.
    </p>
    <p>
        You can follow me on <a href="https://github.com/martinusso">GitHub</a> or <a href="https://linkedin.com/in/martinusso">LinkedIn</a>.
    </p>

{{ end }}