{{ define "main" }}

    <h1>Breno Martinusso</h1>
    <p>
        I'm a Brazilian software engineer with a strong drive to create impact through innovative solutions and strategic improvements. With over two decades of experience, I have led projects that not only solve complex technical challenges but also drive measurable outcomes for products and teams.
    </p>
    <p>
        You can follow me on <a href="https://github.com/martinusso">GitHub</a> or <a href="https://linkedin.com/in/martinusso">LinkedIn</a>.
    </p>

{{ end }}
